@model IEnumerable<ScholarHat.Models.Entities.Employee>


@{
    ViewData["Title"] = "ReviewEmployee";
}

<h1>Review Employee</h1>
<hr />
@TempData["Message"]

<form method="post">

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>


                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>


            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <input type="checkbox" name="EmployeeId" value="@item.EmployeeID" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>

                </tr>
            }
        </tbody>
    </table>

    <input formaction="/Articles/Approve" type="submit" name="btnApprove" value="Approve" />
    <input formaction="/Articles/Reject" type="submit" name="btnReject" value="Reject" />

</form>
